:root{
    --primary-color:(#4f4e4d);
    --secondary-color:(#d6d4d4);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    background-color: hsl(0,0%,98%);
}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

img {
    width: 100%;   
    max-width: 100%;
    max-height: 200px;
    display: block;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    opacity: 0.8;
}

a:visited{
    color: var(--primary-color)
}

button{
    background: hsl(0,0%,98%);
    border: 0;
}

button:hover{
    color: #706e6e;
    cursor: pointer;
}

.round-img{
    border-radius: 50%;
}

.btn-border{
    border: 1px solid #d6d4d4;
}

/* utils */
.container{
    width: 90%;
    margin: 0 auto;
    margin-top: 2.5em;
}

/* colors */
.light{
    color:#d6d4d4;
}

.medium{
    color: #706e6e;
}

.dark{
    color: #4f4e4d;
}

/* typography */
p{
    font-size: 0.9rem;
}

h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1em;
    margin-left: 15%;
}

h3{
    text-transform: uppercase;
    font-size: 0.8rem;
}

.mini-font{
    font-size: 0.7rem;
    font-weight: 400;
}
/* button */
.signin-btn{
    border: 1px solid #028deb;
    background: #fff;
    color: #028deb;
    padding: 0.4em 0.7em;
    display: flex;
    align-items: center;
}

.signin-btn:hover{
    opacity: 0.7;
    color: #028deb;
}

.signin-btn i{
    font-size: 1.5rem;
    padding-right: 0.3em
}

.btn-block{
    display: block;
    width: 100%;
    height: 60px;
    border: 5px solid #fff;
    border-bottom: 5px solid #d6d4d4;
    background: #fff;
}

.btn-block:hover{
    background: #d6d4d4;
}

.sub-btn{
    background: red;
    color: #fff;
    border: 1px solid red;
    border-radius: 2%;
    padding: 0.7em 1.2em;
    text-transform: uppercase;
}

.btn-outline{
    display: block;
    width: 100%;
    color: #028deb;
    border: 1px solid #028deb;
    border-radius: 2%;
    height: 35px;
}

.btn-outline:hover{
    opacity: 0.7;
    color: #028deb;
}

/* navbar */
.navbar{
    background: #fff;
    width: 100%;
    height: 3.5em;
    color: #4f4e4d;
}

.left{
    float:left;
}

.left-1,
.left-2{
    position: relative;
}

.left-1{
    left: 30%;
    top: 1.25em;
    min-width: 100px;
}

.left-2{  
    width: 80px;
    left: 70%;
    top: -0.29em;
}

.right{
    display: none;
}

form{
    display: none;
}


/* sidebar */
.sidebar{
    display: none;
    text-align: center;
    line-height: 1.6;
    background: #fff;
    color: #706e6e;
    width: 72px;
    height: 100%;
}

#sidebar-collapse li{
    padding: 1rem 0;
}

#sidebar-collapse li:hover,
.sidebar-expand-toggle li:hover{
    background: #e8e6e6;
}

#sidebar-collapse span{
    display: block;
    font-size: 0.75rem;
}

.sidebar-collapse-selected{
    color: red;
}

.sidebar-expand-toggle{
    display: none;
}

.sidebar-toggle{
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

/* vid */
.container-vid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-vid-trending{
    flex-wrap: nowrap;
}

.vid{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72%; 
    margin-bottom: 1.5rem;
}

.vid-img{
    height: 70%;
}

.vid-caption-main{
    display:flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    align-items: center;
}

.vid-main{
    position: relative;
    margin-bottom: 1.2rem;
}

.vid-time{
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 0.5rem;
    padding: 0.2em
}

.author-img{
    width: 10%;
}
.vid-title{
    width: 85%;
    font-weight: 600;
    color: var(--primary-color);
}

.vid-caption-sub{
    padding-left: 15%;
    
}

.vid-author,
.vid-detail{
    color: #706e6e;
    font-size: 0.9rem;
}

/* main page */
.iframe-container{
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;
}
iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.video-player{
    width: 100%;
}
.video-top{
    border-bottom: 1px solid #e8e6e6;
    height: 5em;
    /* display: flex;
    flex-direction: column; */
}

.video-title{
    float:left;
    display: flex;
    flex-direction: column;  
    height: 100%;
    justify-content: space-evenly;
}

.video-title-1{
    padding: 0;
    margin: 0;
}

.video-misc{
    height: 100%;
}

.video-misc ul{
    display: none;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
}

.video-misc li{
    padding: 0.7em 0.7em;
}

.video-misc button{
    padding: 0.5em;
    border: 0;
    font-size: 0.9rem;
    color: #706e6e;
}

.video-artistinfo{
    border-bottom: 1px solid #e8e6e6;
    height: 10em;
    padding-top: 1.2em;
}
.video-artistinfo-left{
    display: grid;
    grid-template-columns: 30fr 1fr;
}

.video-artistinfo-artist{
    display: flex;
}

.video-artistinfo-img{
    width: 50px;
    height: 50px;
}

.video-artistinfo-words{
    padding: 0.6em 0.8em;
    line-height: 1.5;
}

.video-artistinfo-maindesc{
    padding: 1.4em 0;
}

.video-artistinfo-right{
    float: right;
    position: relative;
    top: 1em;
    right: 1em;
}

.video-desc{
    padding-bottom: 1.2em;
}

.upnext{
    border-bottom: 1px solid #e8e6e6;
    height: 150px;
}

.autoplay{
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: space-around;
    font-size: 0.7rem;
}

.fa-toggle-on{
    color: #028deb;
}

.video-card-whole{
    display: flex;
    height: 100px;
}

.video-card-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.video-card-player{
    width: 164px;
    
}

.video-card-time{
    position: relative;
}

.video-card-info{
    line-height: 1.5;
    margin-left: 10px;
}

.video-card-info p{
    font-size: 0.7rem;
}

.allvideos{
    padding-top: 1.2em;
}

.comment-header{
    padding-top: 1.2em;
    display: flex;
    width: 100%;    
}

.comment-header-text{
    font-size: 1em;
}

.comment-sort{
    margin-left: 1.5rem;
}

.comment-user,
.comment-others{
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
}

.comment-img-box{
    width: 40px;
    min-width: 40px;
    height: 40px;
}

.comment-input{
    padding-left: 1.2em;
}

.comment-input-box{
    border: 0;   
    background: var(--primary-color);
}
.comment-others{
    align-items: flex-start;
}

.comment-others-name{
    display: flex;
    justify-content: flex-start;
}

.comment-input-wrapper{
    min-width: 70%;
}

.comment-like button{
    background: var(--primary-color);
    border: 0;
    padding: 1em 1em 0 0;
}

/* utils */

@media(min-width: 518px){
    .container{
        width: 100%;
    }

    h2{
        margin-left: 4%;
    }

    .container-vid{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    /* video box's size!!!*/
    .vid{
        width: 45%;
    }
}

@media(min-width: 700px){
    
}

@media(min-width: 810px){
    .wrapper{
        display: grid;
        grid-template-columns: 2fr 22fr;
        grid-gap: 0.1rem;
    }
    .container{
        width: 95%;
    }
    .sidebar{
        display: block;
    }
    h2{
        margin-left: 2%;
    }

    form{
        width: 100%;
        position: absolute;
        top: 0.8rem;
        display: flex;
        justify-content: center;
    }

    #search-icon{
        display: none;
    }

    .search{
        max-width: 800px;
        width: 15%;
        padding: 0.55em 0;
    }

    .search-btn{
        display: inline-block;
        padding: 0.4em 1.8em;
        background: #e8e6e6;
        color: #706e6e;
    }

    .search-btn:hover{
        opacity: 0.6;
    }

    .right{
        float: right;
        display: flex;
        min-width: 300px;
        justify-content: space-between;
        align-items: center;
        height: 3.5em;
        margin-right: 0.9em;
    }
}

@media(min-width: 890px){
    /* video box's size!!!*/
    .vid{
        width: 30%;
    }
    
    .vid-caption,
    .vid-main{
        width: 100%;
    }
}

@media(min-width: 1017px){
    /* main page */
    .wrapper-main{
        display: grid;
        grid-template-areas: "main side"
                            "comment side"
                            "comment side";
        grid-gap: 1em;
    }

    .container-main{
        grid-area: "main";
    }

    .contianer-side{
        grid-area: "side";
    }

    .comment{
        grid-area: "comment";
    }

    iframe{
        width: 97%;
    }

    .upnext{
        width: 410px;
    }
}

@media(min-width: 1145px){
    .wrapper{
        grid-gap: 0.2rem;
    }

    h2{
        margin-left: 1%;
    }

    /* video box's size!!!*/
    .vid{
        width: 23%;
    }
    
    .vid-caption,
    .vid-main{
        width: 100%;
    }
    .video-misc ul{
        display: flex;
    }
}

@media(min-width: 1330px){
    p{
        font-size: 1rem;
    }
    .sidebar{
        width: 240px;
    }
    .sidebar-expand-toggle{
        display: block;
        border-bottom: 1px solid #d6d4d4;
        padding: 0.8em 0;
    }
    #sidebar-collapse{
        display: none;
    }  
    .sidebar-expand li{
        padding: 0.5em;
        text-align: center;   
        display: flex;
        justify-content: flex-start;

    }
    .sidebar-expand span{
        font-size: 0.85rem;
        margin-left: 1.8em;
    }
    .sidebar-expand-links{
        margin-left: 1.2em;
    }
    .sidebar-expand-selected{
        background: #e8e6e6;
        color: #000;
    }
    .sidebar-expand-selected-icon{
        color: red;
    }
    .sidebar-signin-container{
        border-bottom: 1px solid #d6d4d4;
        padding: 0.8em 0;
    }
    .sidebar-signin{
        padding: 0.5em 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 2em;   
    }
    
}